In [19]:
import os
import csv
import pandas as pd
import requests
import yfinance as yf
import numpy as np
import datetime as dt
import matplotlib as plt
from sklearn.linear_model import LinearRegression

In [14]:
file=os.path.join("..","Homework-07-Group Project","Stock Betas.csv")

In [15]:
stocks=pd.read_csv('Stock Betas.csv')
stocks
stocks.sample(5)

,Tickers,Title,Industry,Headquarters Location,Date first added,Beta long term,Beta current time
153,D,Dominion Energy,Utilities,Electric Utilities,"Richmond, Virginia",NaN,NaN
67,BDX,Becton Dickinson,Health Care,Health Care Equipment,"Franklin Lakes, New Jersey",NaN,NaN
421,SLG,SL Green Realty,Real Estate,Office REITs,"New York, New York",NaN,NaN
411,CRM,Salesforce.com,Information Technology,Application Software,"San Francisco, California",NaN,NaN
289,LEG,Leggett & Platt,Consumer Discretionary,Home Furnishings,"Carthage, Missouri",NaN,NaN

In [17]:
tickers = stocks["Tickers"]
list_tickers=tickers.tolist()
start_date="2020-01-31"
end_date=pd.datetime.now().date()
yesterday = end_date - dt.timedelta(days=1)

In [ ]:
closing_price_stocks=yf.download(list_tickers,start_date,yesterday)

In [10]:
aa = closing_price_stockss.index
aa.get_level_values(1)

NameError: name 'closing_price_stockss' is not defined

In [11]:
closing_price_stockss=closing_price_stocks.T

NameError: name 'closing_price_stocks' is not defined

In [12]:
AA = closing_price_stockss.iloc[closing_price_stockss.index.get_level_values(0) == 'Adj Close']
AA.reset_index(inplace=True)  
AA = AA.drop(columns=['level_0'])
AA = AA.set_index('level_1')
AA.index.names = ['Tickers']

NameError: name 'closing_price_stockss' is not defined

In [426]:
AAA = pd.merge(AA, stocks[['Tickers','Industry']],left_index=True, right_on="Tickers").set_index('Tickers')
AAA.sample(5)

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-03-30 00:00:00,2020-03-31 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,Industry
Tickers,,,,,,,,,,,,,,,,,,,,,
PH,194.871674,197.301483,205.258057,209.559998,209.850006,207.820007,209.449997,212.250000,213.910004,213.029999,...,130.350006,129.729996,116.089996,118.839996,115.809998,130.770004,132.360001,141.389999,145.169998,Industrials
HII,259.776703,260.125061,263.817688,268.296570,266.923035,267.878571,267.659607,266.813568,268.814148,249.186569,...,189.539993,182.210007,173.139999,180.639999,181.039993,193.710007,191.740005,195.440002,192.389999,Industrials
AKAM,93.349998,93.680000,95.220001,95.949997,96.949997,96.120003,95.760002,96.370003,97.449997,99.599998,...,94.190002,91.489998,91.599998,93.120003,95.360001,97.790001,95.230003,97.370003,95.389999,Information Technology
DRE,36.084621,36.084621,36.452324,36.462261,36.521889,36.402634,37.058537,37.386486,37.625000,37.939999,...,33.049999,32.380001,30.180000,30.030001,29.590000,32.200001,31.520000,33.419998,35.560001,Real Estate
LYB,76.706924,77.652710,80.509758,82.834808,82.145172,80.884132,80.716652,82.726440,84.342148,82.253540,...,49.580002,49.630001,45.029999,45.919998,46.099998,49.880001,51.650002,55.470001,58.930000,Materials

In [424]:
AAA['MeanTickers'] = AAA.mean(axis=1)
AAA.sample()

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-03-31 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,Industry,MeanTickers
Tickers,,,,,,,,,,,,,,,,,,,,,
EL,194.665115,195.702469,199.911774,200.809494,210.993591,208.430115,208.150818,209.287949,214.245331,214.345078,...,159.339996,153.380005,149.210007,154.080002,160.5,163.169998,165.729996,164.830002,Consumer Staples,181.378445

In [404]:
AAA.drop(columns=['MeanIndustry'],inplace=True)

In [411]:
grouped_industry=AAA.groupby(["Industry"]).agg([np.mean])

In [4]:
grouped_industry

NameError: name 'grouped_industry' is not defined

In [419]:
x_label=line

AttributeError: 'DataFrame' object has no attribute 'grouped_industry'