In [420]:
import os
import csv
import pandas as pd
import requests
import yfinance as yf
import numpy as np
import datetime as dt
import matplotlib as plt

In [3]:
file=os.path.join("..","Homework-07-Group Project","Stock Betas.csv")

In [422]:
stocks=pd.read_csv('Stock Betas.csv')
stocks
stocks.sample(5)

,Tickers,Title,Industry,Headquarters Location,Date first added,Beta long term,Beta current time
461,UNH,United Health Group Inc.,Health Care,Managed Health Care,"Minnetonka, Minnesota",0.96,0.96
160,DXC,DXC Technology,Information Technology,IT Consulting & Other Services,"Tysons Corner, Virginia",NaN,NaN
174,EQR,Equity Residential,Real Estate,Residential REITs,"Chicago, Illinois",NaN,NaN
326,MNST,Monster Beverage,Consumer Staples,Soft Drinks,"Corona, California",NaN,NaN
317,MTD,Mettler Toledo,Health Care,Life Sciences Tools & Services,"Columbus, Ohio",NaN,NaN

In [218]:
tickers = stocks["Tickers"]
list_tickers=tickers.tolist()
start_date="2020-01-31"
end_date=pd.datetime.now().date()
yesterday = end_date - dt.timedelta(days=3)

In [219]:
closing_price_stocks=yf.download(list_stocks,start_date,yesterday)

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

In [254]:
aa = closing_price_stockss.index
aa.get_level_values(1)

Index(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE',
       ...
       'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=3030)

In [255]:
closing_price_stockss=closing_price_stocks.T

In [293]:
AA = closing_price_stockss.iloc[closing_price_stockss.index.get_level_values(0) == 'Adj Close']
AA.reset_index(inplace=True)  
AA = AA.drop(columns=['level_0'])
AA = AA.set_index('level_1')
AA.index.names = ['Tickers']

In [426]:
AAA = pd.merge(AA, stocks[['Tickers','Industry']],left_index=True, right_on="Tickers").set_index('Tickers')
AAA.sample(5)

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-03-30 00:00:00,2020-03-31 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,Industry
Tickers,,,,,,,,,,,,,,,,,,,,,
PH,194.871674,197.301483,205.258057,209.559998,209.850006,207.820007,209.449997,212.250000,213.910004,213.029999,...,130.350006,129.729996,116.089996,118.839996,115.809998,130.770004,132.360001,141.389999,145.169998,Industrials
HII,259.776703,260.125061,263.817688,268.296570,266.923035,267.878571,267.659607,266.813568,268.814148,249.186569,...,189.539993,182.210007,173.139999,180.639999,181.039993,193.710007,191.740005,195.440002,192.389999,Industrials
AKAM,93.349998,93.680000,95.220001,95.949997,96.949997,96.120003,95.760002,96.370003,97.449997,99.599998,...,94.190002,91.489998,91.599998,93.120003,95.360001,97.790001,95.230003,97.370003,95.389999,Information Technology
DRE,36.084621,36.084621,36.452324,36.462261,36.521889,36.402634,37.058537,37.386486,37.625000,37.939999,...,33.049999,32.380001,30.180000,30.030001,29.590000,32.200001,31.520000,33.419998,35.560001,Real Estate
LYB,76.706924,77.652710,80.509758,82.834808,82.145172,80.884132,80.716652,82.726440,84.342148,82.253540,...,49.580002,49.630001,45.029999,45.919998,46.099998,49.880001,51.650002,55.470001,58.930000,Materials

In [424]:
AAA['MeanTickers'] = AAA.mean(axis=1)
AAA.sample()

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-03-31 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,Industry,MeanTickers
Tickers,,,,,,,,,,,,,,,,,,,,,
EL,194.665115,195.702469,199.911774,200.809494,210.993591,208.430115,208.150818,209.287949,214.245331,214.345078,...,159.339996,153.380005,149.210007,154.080002,160.5,163.169998,165.729996,164.830002,Consumer Staples,181.378445

In [404]:
AAA.drop(columns=['MeanIndustry'],inplace=True)

In [411]:
grouped_industry=AAA.groupby(["Industry"]).agg([np.mean])

In [425]:
grouped_industry

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-03-30 00:00:00,2020-03-31 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,MeanTickers
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,...,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Industry,,,,,,,,,,,,,,,,,,,,,
Communication Services,192.960025,197.952561,196.477271,196.180982,199.067544,198.652969,201.302163,201.757122,203.533643,203.201322,...,159.519331,160.152145,153.296587,155.509916,152.615435,163.418664,163.235100,166.179846,166.733649,176.190987
Consumer Discretionary,232.571576,232.935082,235.128526,238.226369,238.583406,237.671120,239.298173,240.928244,243.246518,243.662508,...,174.019543,170.474855,161.529099,161.200684,158.867175,175.758847,178.658253,185.708412,188.679366,203.841803
Consumer Staples,92.511399,92.491765,93.101366,94.007353,94.263063,94.606857,95.031513,94.818816,94.981597,95.457617,...,82.230574,80.734038,79.270316,80.735950,81.414939,84.395988,84.151542,85.191469,86.100002,87.051403
Energy,48.576924,47.903879,48.351176,50.315500,49.712873,49.248160,48.910853,49.441597,50.193799,50.090003,...,23.904421,24.392631,23.006398,25.139996,25.042806,26.479254,26.977148,29.016216,28.686370,35.874517
Financials,110.835056,111.856710,113.040821,114.476276,114.377377,114.037669,114.495013,115.252787,115.293755,115.608930,...,84.543216,81.783208,77.218444,79.177539,78.141086,84.667100,84.712018,88.053534,92.308480,96.077529
Health Care,171.584207,172.717028,175.960170,179.937287,180.262045,178.376769,179.206339,180.944598,181.721602,181.713871,...,153.476181,152.873004,146.225590,149.473297,146.923373,157.220571,156.465536,162.815029,163.665254,162.634645
Industrials,135.730743,136.242720,138.516649,140.222213,140.303554,139.481039,140.265178,140.892332,142.123564,141.407345,...,98.801592,97.183243,91.537551,93.227613,91.698318,98.098917,98.397114,102.035764,103.571805,112.878220
Information Technology,136.380031,138.267749,141.501607,141.848285,142.176267,140.253320,141.764616,142.364429,143.910894,144.098226,...,113.279653,110.673408,104.825801,106.457302,104.711076,114.566657,113.870931,117.883783,118.227477,123.509514
Materials,106.386830,108.827627,110.867326,112.558130,112.444668,110.917337,110.901830,110.989433,111.641017,111.213316,...,84.872142,83.467500,79.501429,80.215715,77.741429,83.533571,85.691071,90.369286,93.646786,95.166276
Real Estate,123.326239,123.851574,125.172562,124.959887,125.548521,125.665340,127.054003,128.208534,129.219962,130.123251,...,103.961307,100.840034,95.253558,96.305279,95.527996,102.118399,101.700984,108.823452,114.017826,113.997461
Utilities,85.918103,86.248392,85.333223,85.743418,85.795901,85.600374,85.947862,86.190803,86.159317,87.061330,...,72.599286,69.515000,65.270357,67.321071,64.904643,70.113214,69.186428,72.993929,76.481428,77.153118

In [419]:
x_label=

AttributeError: 'DataFrame' object has no attribute 'grouped_industry'